@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
header {
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #0f0c29, #302b63, #0f0c29);  
    background: linear-gradient(to right, #0f0c29, #302b63, #0f0c29); 
}
header p {
    letter-spacing: 1px;
    font-family: 'Noto Sans JP', sans-serif;
}
header h1 {
    font-family: 'Kaushan Script', cursive;
}
header h1, header p {
    text-shadow: 1px 1px 3px black;
}