main, body {
    background: #302b63;
    background: -webkit-linear-gradient(to right, #302b63, #155799, #302b63);  
    background: linear-gradient(to right, #302b63, #155799, #302b63); 
}
#container_current_image {
    max-height: 580px;
    min-height: 200px;
    text-align: center;
}
#container_current_image img {
    max-width: 100%;
    min-height: 200px;
    max-height: 580px;
}

#container_carousel_images {
    margin: 35px 0px;
}

#container_carousel_images img {
    width: 100%;
}

.container_caption {
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
}

.caption {
    color: white;
    margin-bottom: 0px;
}

.container_caption, img {
    border: solid 1px white;
    box-shadow: black 0px 0px 5px;
    border-radius: 10px;
}

.card {
    border: none;
    padding: 5px;
}

.card-columns {
    column-count: 5;
}

@media only screen and (max-width: 995px) {
    .card-columns {
        column-count: 4;
    }
}

@media only screen and (max-width: 775px) {
    .card-columns {
        column-count: 3;
    }
}

@media only screen and (max-width: 580px) {
    .card-columns {
        column-count: 2;
    }
}