body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.white-division {
  height: 3px;
  background: #302b63;
  background: -webkit-linear-gradient(to right, #302b63, #ffffff, #302b63);  
  background: linear-gradient(to right, #302b63, #ffffff, #302b63); 
}